@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;600&display=swap');
body {
    margin: 0px;
    font-family: 'Mukta', sans-serif;
}
.principal-div {
    background: url('../public/images/bg-image.svg') no-repeat;
    background-size: cover;
    height: 1500px;
    margin-bottom: 0px;
}

.principal-div nav {
    display: block;
}

.principal-div nav ul {
    padding: 0;
    margin: 20px 50px 10px 30px;
}

.principal-div nav img{
    width: 20px;
    margin: 20px 50px 10px 50px;
}

.nav-list {
    list-style: none;   
    display: none;          
}

.principal-div nav ul li {
    margin: 5px 20px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
}

.enjoy-div {
    margin: 20px 50px 10px 50px;
}

.enjoy-div div h1 {
    color: #612999;
    font-weight: 600;
    font-size: 100px;
    margin: 0px;
}

.enjoy-div div p {
    color: #FFFFFF;
    font-size: 25px;
    text-align: justify;
    font-style: normal;
    font-weight: 200;
}

.search-div {
    display: flex;
    align-items: center;
}

.search-div input {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 0px 10px 20px;
    width: 200px;
    outline: none;
    border: 0px;
}

.search-div div {
    margin: 0 0 0 15px;
    border-radius: 30px;
    background-color: #612999;
    padding: 10px 10px 10px 10px;
}

.social-nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.circle-div {
    margin: 20px 0 20px 0;
}

.price-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price-div article { 
    justify-content: center;
    padding: 0px 40px;
    border-radius: 20px;
    margin: 20px 0px;
}

.price-content {
    display: flex;
    color: white;
    justify-content: space-between;
    margin: 0px 0px;
}
.price-article-1 {
    background: rgba(111, 149, 81, 0.5);
    width: 200px;
}

.price-article-2 {
    background: rgba(228, 170, 20, 0.5);
    width: 200px;
}

.price-article-3 {
    background: rgba(106, 86, 125, 0.5);   
    width: 200px;
}
.price-porcent-1 {
    border-radius: 50%;
    background: rgba(62, 117, 42, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 10px 0px 0px 10px;
}
.price-porcent-1 h3 {
    margin: 5px;
    padding: 0px;
}

.price-porcent-2 {
    border-radius: 50%;
    background: rgba(251, 196, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 10px 0px 0px 10px;
}

.price-porcent-3 {
    border-radius: 50%;
    background: rgba(97, 41, 153, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 10px 0px 0px 10px;
}
.price-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.second-div {
    background: #E5E5E5;
    margin: 0px;
}

.second-div nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
}

.second-div nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.second-div nav ul li {
    padding: 10px 20px;
    font-size: 20px;
    color: #461874;
    font-weight: 600;
}

.second-div nav ul li:hover {
    color: #FFFFFF; 
    background: rgba(97, 41, 153, 1);
}

.second-div nav div {
    background: rgba(97, 41, 153, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #612999;
    width: 90px;
    border-radius: 30px;
    margin: 20px 100px;
}

.second-div nav div h3 {
    margin: 5px;
}
.card {
    background: rgba(255, 255, 255, 1);
    width: 250px;
    border-radius: 20px;  
}

.div-card-1-1 {
    background: url('../public/images/card-image-1.svg') no-repeat;
    border-radius: 20px;    
    background-size: cover;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
}

.div-card-1-2 {
    background: url('../public/images/card-image-2.svg') no-repeat;
    border-radius: 20px;    
    background-size: 110%;
    background-position: center;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
}

.div-card-1-3 {
    background: url('../public/images/card-image-3.svg') no-repeat;
    border-radius: 20px;    
    background-size: 110%;
    background-position: bottom;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
}

.div-card-1-4 {
    background: url('../public/images/card-image-4.svg') no-repeat;
    border-radius: 20px;    
    background-size: 110%;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
}

.icon-card {
    background: #FFFFFF;
    border-radius: 50%;
    padding: 7px;
    margin: 10px;
    height: 20px;
}

.popular-drinks {
    margin: 0px 50px 10px 50px;
}

.div-card-2 {
    margin: 0px 15px;
}

.div-card-2 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #612999;
    margin-bottom: 20px;
}

.div-card-2 div div {
    background: #612999;
    padding: 10px;
    border-radius: 50%;
}

.div-card-2 p {
    color: #C8C8C8;
    font-size: 17px;
    margin: 0px;
}

.div-card-2 h2 {
    margin: 5px 0px 0px 0px;
}

.card-container {
    display: block;
    padding: 50px 0px;
}

@media screen and (min-width: 480px) {
    .principal-div {
        height: 800px;
    }
    .principal-div nav img{
        display: none;
    }
    .principal-div nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 50px 10px 50px;
    }
    .nav-list {
        display: flex;
    }
    .principal-div nav ul {
        display: flex;           
    }
    .enjoy-div {
        display: flex;
        justify-content: space-between;
    }
    .search-div input {
        width: 400px;
    }
    .social-nav div {
        display: block;
        text-align: center;
    }
    .social-icon {
        margin: 40px 0 40px 0;
    }
    
    .circle-content {
        padding-top: 40px;
    }
    .price-div {
        display: flex;
        justify-content: flex-end;
    }
    .price-div article { 
        margin: 0px 20px;
    }
    .card-container {
        display: flex;
        justify-content: space-between;
    }
    .second-div nav ul {
        flex-wrap: nowrap;
    }
    .second-div nav {
        flex-wrap: nowrap;
    }
}
